.university__text {
  margin-top: 5px;
  margin-bottom: 11px;
  margin-left: 1px;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2em;
  font-family: "Myriad Pro", "arial", sans-serif;
  color: #000;
}