doctype html
html
head
  meta(charset = 'utf-8')
  meta(name='viewport', content="width=device-width, initial-scale=1.0")
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(href='css/style.css', rel='stylesheet', type='text/css')
  title CV
  body.page
    .page__left-column


      .page__title
        .page__logo
        .first-name Name here
        .second-name surname
        .profession Graphic designer


      section.section.profile
        section.section__header
          span.section__logo
          span.profile__logo
          h2.section__title.profile__title Profile
        p.section__data.profile__data.paragraph.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec quam felis, ultricies nec, pellentesque
          eu, pretium quis, sem. Nulla consequat massa quis enim.Donec
          pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          In enim, rhoncus ut, imperdiet a, venenatis vitae, justo.
          Nullam dictum felis eu <b class ="bold">pede mollis pretium.
          Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
          Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
          eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
          dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
          nulla utmetus varius laoreet. Quisque rutrum.</b>


      section.section.contact
        .section__header
          span.section__logo
          span.contact__logo
          h2.section__title.contact__title Contact
        table.section__data.table
          tr.table__row
            th.table__header Address
            td.table__data Main Street, City.
          tr.table__row
            th.table__header E-Mail
            td.table__data contact@domain.com
          tr.table__row
            th.table__header Phone
            td.table__data 555-555-555
          tr.table__row
            th.table__header Website
            td.table__data www.yourweb.com


      section.section.skills
        .section__header
          span.section__logo
          span.skills__logo
          h2.section__title.skills__title Skills
        .section__data.skills__data

          .chart
            h3.chart__title.chart__title--center Creative
            .chart__container
              - for (var i = 0; i <= 9; ++i)
                  .chart__view.chart__view--circle.chart__view--blue
              - for (var i = 0; i <= 3; ++i)
                  .chart__view.chart__view--circle.chart__view--grey

          .chart
            h3.chart__title.chart__title--center Teamwork
            .chart__container
              - for (var i = 0; i <= 11; ++i)
                  .chart__view.chart__view--circle.chart__view--blue
              .chart__view.chart__view--circle.chart__view--grey

          .chart
            h3.chart__title.chart__title--center Innovate
            .chart__container
              - for (var i = 0; i <= 6; ++i)
                  .chart__view.chart__view--circle.chart__view--blue
              - for (var i = 0; i <= 6; ++i)
                  .chart__view.chart__view--circle.chart__view--grey

          .chart
            h3.chart__title.chart__title--center Communication
            .chart__container
              - for (var i = 0; i <= 11; ++i)
                  .chart__view.chart__view--circle.chart__view--blue
              .chart__view.chart__view--circle.chart__view--grey
  
  
    .page__right-column


      section.section.education
        .section__header
          spam.section__logo
          spam.education__logo
          h2.section__title.education__title Education
        ul.section__data.list.education__data

          li.list__item.university
            b.bold--blue.university__degree Master degree
            span.university__time-period // Feb 2011 - Jun 2014
            span.university__name University name
            p.paragraph.university__text. 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

          li.list__item.university
            b.bold--blue.university__degree Master degree
            span.university__time-period // Feb 2011 - Jun 2014
            span.university__name University name
            p.paragraph.university__text. 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

          li.list__item.university
            b.bold--blue.university__degree Master degree
            span.university__time-period // Feb 2011 - Jun 2014
            span.university__name University name
            p.paragraph.university__text. 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

          li.list__item.university
            b.bold--blue.university__degree Master degree
            span.university__time-period // Feb 2011 - Jun 2014
            span.university__name University name
            p.paragraph.university__text. 
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

      section.section.experience
        .section__header
          span.section__logo
          span.experience__logo
          h2.section__title.experience__title Experience
        ul.section__data.list.experience__data

          li.list__item.company
            b.bold.company__name Company name
            span.company__working-period // Feb 2011 - Jun 2014
            span.company__job Your job here
            p.paragraph.company__text.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

          li.list__item.company
            b.bold.company__name Company name
            span.company__working-period // Feb 2011 - Jun 2014
            span.company__job Your job here
            p.paragraph.company__text.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

          li.list__item.company
            b.bold.company__name Company name
            span.company__working-period // Feb 2011 - Jun 2014
            span.company__job Your job here
            p.paragraph.company__text.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

      section.section.software
        .section__header
          span.section__logo
          span.software__logo
          h2.section__title.software__title Software
        .section__data.software__data

          .software__left-column
            .chart
              h3.chart__title Photoshop
              .chart__view.chart__view--line.photoshop
            .chart
              h3.chart__title Illustrator
              .chart__view.chart__view--line.illustrator
            .chart
              h3.chart__title Indesign
              .chart__view.chart__view--line.indesign

          .software__right-column
            .chart
              h3.chart__title Dreamviewer
              .chart__view.chart__view--line.photoshop
            .chart
              h3.chart__title After effects
              .chart__view.chart__view--line.illustrator
            .chart
              h3.chart__title HTML&CSS3
              .chart__view.chart__view--line.indesign