@import '__first-name/__first-name.scss';
@import '__second-name/__second-name.scss';
@import '__profession/__profession.scss';
@import '__logo/__logo.scss';

.author {
  margin-top: 23px;
  margin-left: 15px;
  margin-bottom: 53px;
  padding-top: 13px;
}