/*bold*/
.bold {
  font-weight: bold;
}

.bold--blue {
  color: #3d6cb0;
}
/*chart*/

.chart__container {
  display: flex;
  justify-content: center;
}

.chart__title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.chart__title--center {
  text-align: center;
}

.chart__view {

}

.chart__view--line {
  margin-top: 38px;
  margin-bottom: 38px;
}

.chart__view--circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 27px;
  margin-right: 19px;
  margin-bottom: 27px;
  background-color: #3d6cb0;
  border-radius: 18px;
}

.chart__view--blue {
  background-color: #3d6cb0;
}

.chart__view--grey {
  background-color: #e6e6e6;
}

/*company*/

.company__name {
  margin-right: 25px;
  font-weight: bold;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.company__working-period {
  font-weight: normal;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  color: #000000;
}

.company__job {
  display: block;
  margin-top: 5px;
  font-weight: normal;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.company__text {
  margin-top: 11px;
  margin-bottom: 26px;
}

/*contact*/

.contact {
  margin-bottom: 22px;
}

.contact__logo {
  position: absolute;
  top: 79px;
  left: 35px;
  background-image: url("../img/phone-receiver.svg");
  width: 80px;
  height: 80px;
}

/*education*/

.education__logo {
  position: absolute;
  display: inline-block;
  color: #ffffff;
  top: 86px;
  left: -25px;
  width: 0px;
  height: 0px;
  border-right:  100px solid transparent;
  border-bottom: 70px  solid #ffffff;
  border-left:   100px solid transparent;
  transform: rotate(35deg) scale(.5);
}

.education__logo::before {
  border-bottom: 80px solid #ffffff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.education__logo::after {
  position: absolute;
  display: block;
  color: #ffffff;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ffffff;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}


.education {
  margin-bottom: 58px;
}

.education__data {
  margin-top: 60px;
}

/*experience*/

.experience {
  margin-bottom: 57px;
}

.experience__logo {
  position: absolute;
  top: 103px;
  left: 35px;
  width:78px;
  height: 56px;
  background-color: #ffffff;
}

.experience__logo::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 18px;
  width: 30px;
  height: 30px;
  border: 6px solid #ffffff;
  border-radius: 41px;
}

.experience__data {
  margin-top: 88px;
}

/*first-name*/

.first-name {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 104px;
  line-height: 0.9em;
  text-align: center;
  font-family: "Myriad Pro LightSemiExt", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

/*header*/

.header__logo {
  display: inline-block;
  position: relative;
  top: 45px;
  width: 144px;
  height: 144px;
  margin-right: 25px;
  border-radius: 72px;
  background-color: #ffffff;
  border: 2px solid #3d6cb0;
}

.header__logo::after {
  content: "";
  position: absolute;
  display: block;
  width: 128px;
  height: 128px;
  top: 8px;
  left: 8px;
  border-radius: 64px;
  background-color: #3d6cb0;
}

 .header__title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 82px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #3d6cb0;
}

.header__container {
  display: inline-block;
  background-color: #ffffff;
  padding-right: 15px;
}

/*list*/

.list {
  padding-left: 105px;
  list-style-type: none;
}

.list__item {
  position: relative;
}

.list__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 13px;
  margin-left: -82px;
  border-radius: 20px;
  background-color: #000000;
}

/*page*/

.page {
  display: flex;
  justify-content: center;
  width: 2360px;
  padding: 20px 60px;
  margin: auto;
}

.page__left-column {
  margin: 60px 50px 95px 0;
  padding: 30px;
  width: 828px;
}

.page__right-column {
  margin: 60px 0 95px 50px;
  padding: 30px;
  width: 1263px;
}

.page__title {
  margin-top: 40px;
  margin-bottom: 114px;
  padding-top: 25px;
}

.page__logo {
  margin: auto;
  margin-bottom: 75px;
  width: 461px;
  height: 461px;
  border-radius: 231px;
  background-color: #ffffff;
  border: 2px solid #3d6cb0;
}

.page__logo::after {
  content: "";
  position: absolute;
  display: block;
  width: 408px;
  height: 408px;
  margin-top: 28px;
  margin-left: 28px;
  border-radius: 231px;
  background-color: #3d6cb0;
}

/*paragraph*/

.paragraph {
  font-weight: normal;
  font-size: 31px;
  line-height: 1.2em;
  font-family: "Myriad Pro", "arial", sans-serif;
  color: #000000;
}

/*profession*/
.profession {
  margin-top: 18px;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.2em;
  text-align: center;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

/*profile*/

.profile {
  margin-bottom: 48px;
}

.profile__logo {
  position: absolute;
  top: 122px;
  left: 42px; 
  background-color: #ffffff;
  display: inline-block;
  height: 32px;
  width: 64px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

.profile__logo::after {
  content: "";
  position: absolute;
  top: -29px;
  left: 14px; 
  background-color: #ffffff;
  height: 36px;
  width: 36px;
  border-radius: 18px;
}

/*second-name*/

.second-name {
  font-weight: bold;
  font-size: 124px;
  line-height: 0.9em;
  text-align: center;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

/*section*/


.section__header {
  position: relative;
}

.section__header::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 61px;
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 10px;
  background-color: #3d6cb0;
}

/*skills*/

.skills__logo {
  position: absolute;
  top: 77px;
  left: 44px; 
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.skills__logo::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 15px; 
  background-color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
}

.skills__logo::after {
  content: "";
  position: absolute;
  top: 71px;
  left: 15px; 
  background-color:#ffffff;
  height: 13px;
  width: 30px;
  border-radius: 9px;
}

.skills__data {
  margin-top: 53px;
}

/*software*/

.software__logo {
  position: absolute;
  top: 86px;
  left: 38px;
  width: 62px;
  height: 37px;
  border-radius: 9px;
  border: 5px solid #ffffff;
}

.software__logo::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 47px;
	border-bottom: 14px solid #ffffff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	width: 72px;
}

.software__data {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-top: 5px;
}

.software__left-column {
  padding-left: 6px;
  width: 553px;
  margin-right: 70px;
}

.software__right-column {
  width: 553px;
  margin-left: 70px;
}

/*table*/

.table {
  margin-top: 40px;
  border-spacing: 0;
  text-align: left;
}

.table__header {
  width: 215px;
  padding: 30px 45px 30px 0;
  font-weight: bold;
  font-size: 41px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #3d6cb0;
}

.table__data {
  padding: 30px 0;
  font-weight: normal;
  font-size: 41px;
  font-family: "Myriad Pro", "arial", sans-serif;
  color: #000000;
}

/*univercity*/

.univercity__name {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.univercity__time-period {
  font-weight: normal;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  color: #000000;
}

.univercity__degree {
  margin-right: 25px;
  font-weight: bold;
  font-size: 52px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #3d6cb0;
}

.univercity__text {
  margin-top: 11px;
  margin-bottom: 26px;
}

/*fonts*/

@font-face {

  font-family: 'Myriad Pro';
  
  src: url('../fonts/MyriadPro-Regular.eot');
  
  src: url('../fonts/MyriadPro-Regular.eot?iefix') format('eot'),
  
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
 
  font-weight: normal;
  
  font-style: normal;

}

@font-face {

  font-family: 'Myriad Pro LightSemiExt';
  
  src: url('../fonts/MyriadPro-LightSemiExt.eot');
  
  src: url('../fonts/MyriadPro-LightSemiExt.eot?iefix') format('eot'),
  
  url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'),
  
  url('../fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
 
  font-weight: normal;
  
  font-style: normal;

}

@font-face {

  font-family: 'Myriad Pro';
  
  src: url('../fonts/MyriadPro-Bold.eot');
  
  src: url('../fonts/MyriadPro-Bold.eot?iefix') format('eot'),
  
  url('../fonts/MyriadPro-Bold.woff') format('woff'),
  
  url('../fonts/MyriadPro-Bold.ttf') format('truetype');
 
  font-weight: bold;
  
  font-style: normal;

}