.author__second-name {
  font-weight: bold;
  font-size: 62px;
  line-height: 0.9em;
  text-align: center;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000;
}