.table__header {
  width: 108px;
  padding: 15px 20px 14px 0;
  font-weight: bold;
  font-size: 21px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #006cb4;
}