.page__right-column {
  margin: 30px 0 48px 40px;
  padding-top: 15px;
  min-width: 300px;
  max-width: 628px;
}

@media (max-width: 768px) {
  .page__right-column {
    margin: auto;
    max-width: 484px;
  }
}