.author__first-name {
  font-weight: normal;
  font-size: 53px;
  line-height: 0.9em;
  text-align: center;
  font-family: "Myriad Pro LightSemiExt", "arial", sans-serif;
  text-transform: uppercase;
  color: #000;
}