@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?iefix") format('eot'), url("../fonts/MyriadPro-Regular.woff") format('woff'), url("../fonts/MyriadPro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro LightSemiExt';
  src: url("../fonts/MyriadPro-LightSemiExt.eot");
  src: url("../fonts/MyriadPro-LightSemiExt.eot?iefix") format('eot'), url("../fonts/MyriadPro-LightSemiExt.woff") format('woff'), url("../fonts/MyriadPro-LightSemiExt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot?iefix") format('eot'), url("../fonts/MyriadPro-Bold.woff") format('woff'), url("../fonts/MyriadPro-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}