mixin company(companyData)
  span.company__name= companyData.name
  span.company__working-period= companyData.workingPeriod
  span.company__job= companyData.job
  p.paragraph.company__text= companyData.text