@import '--center/--center.scss';

.chart__title {
  margin-top: 6px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 26px;
  font-family: "Myriad Pro", "arial", sans-serif;
  text-transform: uppercase;
  color: #000;
}