mixin university(universityData)
  span.university__degree= universityData.degree
  span.university__time-period= universityData.timePeriod
  span.university__name= universityData.name
  p.university__text= universityData.text